<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favico.png" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/">ASP.NET Drinks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(Context.Request.Path.Value.ToLower().Equals("/") ? "active " : "" )">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                @await Component.InvokeAsync("CategoryMenu")
                <li class="nav-item @(Context.Request.Path.Value.ToLower().StartsWith("/contact") ? "active " : "" )">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact Us</a>
                </li>
                <li class="nav-item @(Context.Request.Path.Value.ToLower().StartsWith("/about") ? "active " : "" )">
                    <a class="nav-link" asp-controller="About" asp-action="Index">About</a>
                </li>
                @await Component.InvokeAsync("ShoppingCartSummary")
                @await Html.PartialAsync("LoginPartial")
            </ul>
            <form class="form-inline my-2 my-lg-0" asp-controller="Drink" asp-action="Search" method="get">
                <input type="text" class="form-control" placeholder="Search for a drink" name="searchString" value="@ViewData["searchString"]">
                <button class="btn btn-secondary my-sm-0 mx-2" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content main-content">
        <span class="text-danger">@Html.ValidationSummary(true)</span>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p><a class="ml-2" target="_blank" href="https://axmouth.dev">&copy; 2019 - Giorgos Nikolopoulos</a></p>
    </footer>
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
