
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a asp-controller="Account" asp-action="Profile" class="nav-link dropdown-toggle @(Context.Request.Path.Value.ToLower().StartsWith("/account") ? "active " : "" )" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item @(Context.Request.Path.Value.ToLower().StartsWith("/account/profile") ? "active " : "" )" asp-controller="Account" asp-action="Profile">My Profile</a>
            <a class="dropdown-item @(Context.Request.Path.Value.ToLower().StartsWith("/account/orders") ? "active " : "" )" asp-controller="Account" asp-action="Orders">My Orders</a>
            <div class="dropdown-divider"></div>
            <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                  method="post" class="navbar-right">
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </form>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item @(Context.Request.Path.Value.ToLower().StartsWith("/account/register") ? "active " : "" )"><a class="nav-link" id="registerLink" asp-controller="Account" asp-action="Register"> Register </a></li>
        <li class="nav-item @(Context.Request.Path.Value.ToLower().StartsWith("/account/login") ? "active " : "" )"><a class="nav-link" id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
    </ul>
}