<div class="container">

    <div class="">
        <div class="card row">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageThumbnailUrl" class="img-fluid details-img" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block mt-3 p-3">
                <!--Title-->
                <h4 class="card-title">@Model.Name</h4>
                <!--Text-->
                <p class="card-text">@Model.LongDescription.</p>
                <a asp-controller="Drink" asp-action="List" class="btn btn-primary ml-3">Show all drinks</a>
                <div class="add-to-cart ml-3 mt-3">
                    <p class="button">
                        <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.DrinkId">
                            Add to cart
                        </a>
                    </p>
                </div>
                <h3 class="pull-right ml-3">@Model.Price.ToString("c")</h3>
            </div>
        </div>
    </div>
</div> 